<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login</title>

    <!-- Fontes do Google -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Arquivo CSS -->
    <link rel="stylesheet" href="realiza_pedidos.css">
</head>
<body>
    <div class="ordem">
        <div class="ficha">
            <!-- Informações da Ordem de Serviço e Cliente -->
            <div class="linha1">
                <div class="info-coluna1">
                    <h4 class="OrdemServico">Ordem de serviço</h4>
                    <h4>Cliente</h4>
                    <input type="text" class="cliente">
    
                    <h4>Código</h4>
                    <input type="text" class="codVendedor">
    
                    <h4>Vendedor</h4>
                    <input type="text" class="vendedor">
    
                    <h5><b>TOTAL:</b></h5>
                    <h5 class="valorTotal"><b>5555</b></h5>
                </div>
            </div>
        </div>

        <!-- Seção de Pedidos -->
        <div class="pedidos">
            <h4>Referência:</h4>
            <input type="text" class="referencia">
    
            <h4>Material:</h4>
            <input type="text" class="material">
        </div>

        <!-- Botões -->
        <div class="container">
            <!-- Bloco de Botões -->
            <div class="botao-container">
                <button class="botao">1</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">2</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">3</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">4</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">5</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">6</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">7</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">8</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">9</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">10</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">11</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">12</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">13</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">14</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">15</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">16</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">17</button>
                <div class="numero">0</div>
            </div>

            <h5 class="pares">Pares: <b>8</b></h5> 
        </div>














        <!-- Seção de Pedidos -->
        <div class="pedidos">
            <h4>Referência:</h4>
            <input type="text" class="referencia">
    
            <h4>Material:</h4>
            <input type="text" class="material">
        </div>

        <!-- Botões -->
        <div class="container">
            <!-- Bloco de Botões -->
            <div class="botao-container">
                <button class="botao">1</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">2</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">3</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">4</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">5</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">6</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">7</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">8</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">9</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">10</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">11</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">12</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">13</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">14</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">15</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">16</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">17</button>
                <div class="numero">0</div>
            </div>

            <h5 class="pares">Pares: <b>8</b></h5> 
        </div>



















        <!-- Seção de Pedidos -->
        <div class="pedidos">
            <h4>Referência:</h4>
            <input type="text" class="referencia">
    
            <h4>Material:</h4>
            <input type="text" class="material">
        </div>

        <!-- Botões -->
        <div class="container">
            <!-- Bloco de Botões -->
            <div class="botao-container">
                <button class="botao">1</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">2</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">3</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">4</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">5</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">6</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">7</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">8</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">9</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">10</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">11</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">12</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">13</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">14</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">15</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">16</button>
                <div class="numero">0</div>
            </div>
            <div class="botao-container">
                <button class="botao">17</button>
                <div class="numero">0</div>
            </div>

            <h5 class="pares">Pares: <b>8</b></h5> 
        </div>





        <button href="" class="realizarPedido">Realizar pedido</button>

        
    </div>

    <script>
        document.querySelector('.codVendedor').addEventListener('input', function() {
            var codigo = this.value;
            fetch(`/buscar-vendedor/?codigo=${codigo}`)
                .then(response => response.json())
                .then(data => {
                    if (data.nome) {
                        document.querySelector('.vendedor').value = data.nome;
                    } else {
                        alert(data.erro);
                    }
                });
        });
    
        document.querySelector('.referencia').addEventListener('input', function() {
            var referencia = this.value;
            fetch(`/buscar-material/?referencia=${referencia}`)
                .then(response => response.json())
                .then(data => {
                    if (data.tamanho) {
                        document.querySelector('.material').value = `Tamanho ${data.tamanho}`;
                    } else {
                        alert(data.erro);
                    }
                });
        });
    </script>
    
</body>
</html>
