@font-face {
  font-family: 'DOTMATRI';
  src: url('/static/fonts/DOTMATRI.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.primeiro {
  width: 100%;
  display: block;
  clear: both; /* Garante que nenhum elemento flutue ao lado */
}


/* Reset de margin, padding e definição de fonte */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DOTMATRI';
}

p{
  font-size:1.5em;
}

/* Estilo para a seção de detalhes do pedido */
.detalhes-pedido {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* Estilos para os blocos de informação (item-nome) */
.item-nome {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.item-nome > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.item-nome p {
  margin: 0;
  font-size: 2rem;
  color: #333;
}

/* Cabeçalho de cada produto */
.produto-cabecalho {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  box-sizing: border-box;
  margin-top: 0.5em;
  margin-bottom: 0.5rem;
}

/* Cada grupo de produto */
.pedido-item {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

/* Container principal */
.pedido-imprimir {
  width: 100%;
  box-sizing: border-box;
}

/* Container genérico */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 1em;
}

/* Container específico para os quadradinhos de tamanhos e quantidades
   Configurado para dispor todos os itens em uma única linha */
/* Ajusta os quadradinhos para preencher toda a largura */
/* Ajusta os quadradinhos para preencher toda a largura */
.containerQuadradinhos {
  display: flex;
  flex-wrap: nowrap; /* Garante que todos os elementos fiquem na mesma linha */
  justify-content: left; /* Centraliza os elementos */
  align-items: flex-start; /* Alinha os itens ao topo */
  width: 100%;
}

/* Cada quadrado deve ter largura uniforme */
.botao-container {
  display: flex;
  flex-direction: column; /* Mantém o botão acima e o número abaixo */
  align-items: left;
  justify-content: left;
  text-align: left;
  width: 50px; /* Ajuste conforme necessário */
}

/* Ajusta o tamanho dos botões para ficarem alinhados */
.botao {
  width: 50px; /* Garante que todos tenham a mesma largura */
  height: 50px;
  font-size: 1.5em; /* Ajusta o tamanho da fonte */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Ajusta o tamanho dos números e os mantém centralizados */
.numero {
  font-size: 1.5em; /* Aumenta a fonte dos números */
  font-weight: bold;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 0.3em; /* Espaçamento entre botão e número */
}



/* Estilo genérico para spans */
span {
  font-size: 1em;
}

