<!-- produto/templates/produto/lista_produtos.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Lista de Produtos{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/produto/listar_produtos.css' %}">
{% endblock extra_css %}

{% block content %}

    <h2>Produtos</h2>
    <!-- Exibir mensagens de sucesso ou erro -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <table class="produtos-table">
        <thead>
            <tr class="cabecalho">
                <th>Nome</th>
                <th>Referência</th>
                {% if user.permission_level > 2 %}
                <th>Ações</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
                <tr id="produto-{{ produto.pk }}">
                    <td class="nome_produto">{{ produto.nome }}</td>
                    <td>{{ produto.codigo }}</td>
                    {% if user.permission_level > 2 %}
                    <td>
                        <div class="acoes">
                            <a href="{% url 'produto:editar_produto' produto.pk %}" class="btn btn-secondary" title="Editar">
                                <img class="edit" src="{% static 'img/edit.svg' %}" alt="Editar">
                            </a>
                            
                            <!-- Botão para deletar o produto via AJAX -->
                            <button type="button" class="btn btn-danger delete-button" data-id="{{ produto.pk }}" title="Deletar">
                                <img class="delete" src="{% static 'img/trash.svg' %}" alt="Deletar">
                            </button>

                            <a href="{% url 'produto:relatorio_excel_produto' produto.pk %}" class="btn btn-success" title="Baixar Relatório Excel">
                                <img src="{% static 'img/relatorio.svg' %}" alt="Baixar Excel">
                            </a>
                        </div>
                    </td>
                    {% endif %}
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">Nenhum produto cadastrado.</td>
                </tr>
            {% endfor %}
        </tbody>    
    </table>
    <!-- Bloco de paginação -->
    {% if produtos.has_other_pages %}
    <div class="pagination">
        {% if produtos.has_previous %}
        <a href="?page={{ produtos.previous_page_number }}">&laquo; Anterior</a>
        {% endif %}

        {% for num in produtos.paginator.page_range %}
        {% if produtos.number == num %}
            <!-- Página atual -->
            <strong>{{ num }}</strong>
        {% else %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
        {% endfor %}

        {% if produtos.has_next %}
        <a href="?page={{ produtos.next_page_number }}">Próximo &raquo;</a>
        {% endif %}
    </div>
    {% endif %}

    <div class="botoesComando">
        <a href="{% url 'produto:criar_produto' %}" class="btn btn-primary adicionarProduto">Adicionar Produto</a>
    </div>

    <script src="{% static 'js/deletar_produto.js' %}"></script>
{% endblock %}
