{% extends "base.html" %}
{% load static %}

{% block title %}Cadastrar Vendedor{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/cadastrar_vendedor.css' %}">
{% endblock extra_css %}

{% block content %}
<h1>Cadastrar Vendedor</h1>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="botao">Cadastrar</button>
</form>

<a href="{% url 'listar_vendedores' %}" class="retornar">Voltar à lista de vendedores</a>
{% endblock content %}
