{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <!-- CSS base -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- Bloco para CSS extra -->
    {% block extra_css %}{% endblock extra_css %}
</head>
<body>
    <div class="container">
        <nav class="menu">
            <div class="menu-content">
                <h4 class="titulo">Pedidos</h4>
                <div class="sub_menu">
                    <a href="https://www.google.com" tabindex='999'>Realizar pedido</a>
                    <a href="https://www.google.com" tabindex='999'>Produção</a>
                    <a href="https://www.google.com" tabindex='999'>Finalizados</a>
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
            <img class="logo" src="{% static 'img/Logo_palmiex.png' %}" alt="Logo">
        </nav>

        <div class="test">
            {% block content %}{% endblock content %}
        </div>
    </div>
</body>
</html>
