{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <!-- CSS base -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- Bloco para CSS extra -->
    {% block extra_css %}{% endblock extra_css %}
</head>
<body>
    <div class="container">
        <div class="menu">
            <h4 class="titulo">Pedidos</h4>
            <div class="sub_menu">
                <a href="www.google.com" tabindex='999'>Realizar pedido</a>
                <a href="www.google.com" tabindex='999'>Produção</a><br> 
                <a href="www.google.com" tabindex='999'>Finalizados</a>
            </div>
            <img class="logo" src="{% static 'img/Logo_palmiex.png' %}" alt="Logo">
        </div>

        <div class="test">
            {% block content %}{% endblock content %}
        </div>
    </div>
</body>
</html>
