{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Página de Login{% endblock title %}</title>
    <!-- Link para o arquivo CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="menu">
            <h4>Pedidos</h4>
            <div class="sub_menu">
                <a href="www.google.com">Realizar pedido</a>
                <a href="www.google.com">Produção</a><br> 
                <a href="www.google.com">Finalizados</a>
            </div>
            <img class="logo" src="{% static 'imagens/logo.svg' %}" alt="Logo">
        </div>

        <div class="test">
            {% block content %}
            <!-- Conteúdo específico de cada página será inserido aqui -->
            {% endblock content %}
        </div>
    </div>
</body>
</html>
