{% extends 'base.html' %}
{% load static %}

{% block title %}Ordem de Serviço{% endblock title %}

{% block extra_css %}
<!-- Exemplo de import de Google Fonts para uma tipografia moderna -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/realiza_pedidos.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="ordem">
    <!-- Seção de Informações do Cliente -->
    <div class="ficha">
        <h4 class="OrdemServico">Ordem de serviço</h4>    
        <div class="linha1">
            <span>Cliente:</span>
            <input type="text" class="cliente">

            <span>Código:</span>
            <input type="text" class="codVendedor">

            <span>Vendedor:</span>
            <input type="text" class="vendedor">

            <h5 class="total"><b>TOTAL:</b></h5>
            <h5 class="valorTotal"><b>0</b></h5>
        </div>
    </div>

    <!-- Pedido Inicial -->
    <div class="pedido-item">
        <div class="linha-pedido grid-3">
            <div>
              <span class="campo">Referência Sintetico</span>
              <input type="text" class="refBalancinho" required list="listaRefBalancinho">
              <datalist id="listaRefBalancinho"></datalist>

            </div>
            <div>
              <span class="campo">Sintetico</span>
              <input type="text" class="matBalancinho" required list="listaBalancinho">
                <datalist id="listaBalancinho"></datalist>
            </div>

            <div>
              <span class="campo">Cor Sintetico</span>
              <input type="text" class="cor">
            </div>
          
            <div>
              <span class="campo">Referência Palmilha/Solado</span>
              <input type="text" class="refPalmilha" required list="listaRefPalmilha">
              <datalist id="listaRefPalmilha"></datalist>
            </div>
            <div>
              <span class="campo">Material Solado</span>
              <input type="text" class="matPalmilha" required list="listaPalmilha">
              <datalist id="listaPalmilha"></datalist>
            </div>

            <div class="divCor">
              <span class="campo">Cor Solado</span>
              <input type="text" class="corPalmilha">
            </div>

            <div class="">
              <span class="campo">Espessura Palmilha</span>
              <input type="text" class="tamPalmilha" required 
                      placeholder="mm" inputmode="numeric" pattern="[0-9]*" 
                      title="Digite apenas números para o tamanho em milímetros">
            </div>
            
            <div class="tipo-servico-container">
              <div class="campo-tipo">
                <span class="campo">Tipo de Serviço</span>
                <input type="text" name="tipoServico" class="selectTipoServico" placeholder="Ex. Costurado" default:"Costurado">
              </div>
              <div class="campo-tipo">
                <span class="campo">Marca</span>
                <select class="marca">
                  <option value="fibra">Fibra</option>
                  <option value="seltex">Seltex</option>
                </select>
              </div>
            </div>

            <div class="campoObs">
              <span class="campo">Obs:</span>
              <textarea class="obs"></textarea>
            </div>
        </div>
        
        <div class="linha-pedido">
          <h5 class="pares">Pares: <b class="paresValor">0</b></h5> 
          <div class="maisEmenos">
            <button type="button" class="adicionarPedido">+</button>
            <button type="button" class="removerPedido">-</button>
          </div>
        </div>
        <div class="container containerQuadradinhos"></div>
    </div>
      
    <!-- Novos Pedidos (adicionados via JavaScript) -->
    <div class="lista-pedidos"></div>

    <div class="botoesComando">
        <button type="button" class="clienteloja" id="realizarPedidoUrgente">Cliente em loja</button>
        <button type="button" class="realizarPedido" id="realizarPedido">Realizar pedido</button>
    </div>
</div>

<script src="{% static 'js/realiza_pedidos.js' %}"></script>
{% endblock %}
